<footer id="footer" class="footer">
  <div class="container">
    <div class="row footer__raw">
      <div class="col-md-9">
        <div class="copyright">
          <p>© 2022, Lorem ipsum dolor sit amet consectetur.</p>
          <p>Sem quis netus amet in.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="address">
          <address>Астана, ул. Д. Кунаева 10. офис 2819. Бизнес центр Emerald Tower</address>
        </div>
        <div class="phone">
          <img src="/img/phone.svg" alt="" />
          <a href="tel:+7 (707) 83 99946">+7 (707) 83 99946</a>
        </div>
        <div class="email">
          <img src="/img/email.svg" alt="" />
          <a href="mailto:info@lorem ipsum">info@auratech.kz</a>
        </div>
        <div class="back_call">
          <button class="btn qq-button">Оставить заявку</button>
        </div>
      </div>
    </div>
  </div>
</footer>
