<section id="advantages" class="container advantages__section section">
  <div class="advantages__title">
    <h3 class="advantages__title_text">
      МЫ ПОСТОЯННО ОПТИМИЗИРУЕМ  БИЗНЕС ПРОЦЕССЫ, ЧТО ПОЗВОЛЯЕТ НАМ ОСТАВАТЬСЯ ЛУЧШИМИ НА РЫНКЕ  it услуг
    </h3>
  </div>

  <div class="advantages__chooseus">
    <div class="chooseus_text">Почему выбирают нас</div>
  </div>

  <div class="advantages__blocks">
    <div class="block1 block">
      <div class="card fake"></div>

      <div class="card work-everywhere">
        <div class="card__img">
          <img src="img/advantages/work_everywhere.svg" alt="" />
        </div>
        <div class="card__title">Работаем везде</div>
        <div class="card__desc">Работаем на всей территории Казахстана</div>
      </div>
    </div>

    <div class="block2 block">
      <div class="card individual">
        <div class="card__img">
          <img src="img/advantages/individual.svg" alt="" />
        </div>
        <div class="card__title">Индивидуально</div>
        <div class="card__desc">
          Качественно и быстро подберем актуальное оборудование для любой задачи
        </div>
      </div>

      <div class="card fast">
        <div class="card__img">
          <img src="img/advantages/fast.svg" alt="" />
        </div>
        <div class="card__title">Оперативно</div>
        <div class="card__desc">
          Работаем в формате “Сегодня заказали- завтра получили”
        </div>
      </div>
    </div>

    <div class="block3 block">
      <div class="card cheep">
        <div class="card__img">
          <img src="img/advantages/cheep.svg" alt="" />
        </div>
        <div class="card__title">Выгодно</div>
        <div class="card__desc">
          Сотрудничаем со всеми ведущими дистрибуторами и вендорами
        </div>
      </div>

      <div class="card reliably">
        <div class="card__img">
          <img src="img/advantages/reliably.svg" alt="" />
        </div>
        <div class="card__title">Надежно</div>
        <div class="card__desc">Только новое брендовое оборудование</div>
      </div>
    </div>
  </div>

  <div class="advantages__dots"></div>
  <div class="advantages__plane"></div>
  <div class="advantages__circle"></div>
</section>
