<section id="application" class="container application__section">
  <div class="application__title">
    <div class="application__title-text title-text">Заявка</div>
  </div>

  <div class="row my-4">
    <div class="col-md-5">
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Ваше имя"
      />
    </div>
    <div class="col-md-5 col-sm-12">
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Контактный номер"
      />
    </div>
  </div>

  <div class="row my-4">
    <div class="col-md-5">
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="E-mail"
      />
    </div>
    <div class="col-md-5">
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Компания"
      />
    </div>
  </div>

  <div class="row my-4">
    <div class="col-md-5">
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Задача"
      />
    </div>
  </div>

  <div class="row my-4">
    <div class="col">
      <button class="btn qq-button">Отправить заявку</button>
    </div>
  </div>
</section>
