<section id="contacts" class="container contacts__section">
  <div class="contacts__title">
    <div class="contacts__title-text">Наши контакты</div>
  </div>

  <div class="contacts__info-block">
    <div class="contacts__info">
      <div class="address">
        <address>
          Астана, ул. Д. Кунаева 10. офис 2819. Бизнес центр Emerald Tower
        </address>
      </div>
      <div class="phone">
        <img src="/img/phone_black.svg" alt="" />
        <a href="tel:+7 (707) 83 99946">+7 (707) 83 99946</a>
      </div>
      <div class="email">
        <img src="/img/email_black.svg" alt="" />
        <a href="mailto:info@lorem ipsum">info@auratech.kz</a>
      </div>
      <div class="back_call">
        <button class="btn qq-button">Оставить заявку</button>
      </div>
    </div>
    <div class="contacts__map">
		<img src="img/map.png" alt="img/">
	</div>
  </div>
</section>
