<section id="partners" class="container partners__section section">
  <div class="partners__title">
    <h3 class="partners__title_text">НАши партнеры</h3>
  </div>

  <div class="partners__desc">
    Наше партнерство характеризуется взаимовыгодным сотрудничеством, взаимным
    уважением и доверием, что способствует достижению любых целей
  </div>

  <div class="partntes__list">
    <div class="list__item">
      <img class="partner__img" src="img/partners/partner1.png" alt="" />
    </div>
    <div class="list__item">
      <img class="partner__img" src="img/partners/partner2.png" alt="" />
    </div>
    <div class="list__item">
      <img class="partner__img" src="img/partners/partner3.png" alt="" />
    </div>
    <div class="list__item">
      <img class="partner__img" src="img/partners/partner4.png" alt="" />
    </div>
    <div class="list__item">
      <img class="partner__img" src="img/partners/partner5.png" alt="" />
    </div>
  </div>

  <div class="partners__button_block">
    <a href="#" class="partnters__button">
      <button class="btn qq-button">Стать клиентом</button>
    </a>
  </div>

  <div class="partners__dots"></div>
</section>
