<section id="services" class="container services__section section">
  <div class="services__title">
    <h3 class="services__title_text">Услуги компании</h3>
    <!-- <button class="btn qq-button">Button</button> -->
  </div>

  <div class="services__desc">
    <b>Auratech</b> - это компания, которая предоставляет решения в области
    информационных технологий, включая разработку, внедрение и поддержку
    IT-инфраструктуры для бизнеса.
  </div>

  <div class="services__items">
    <div class="service__item item_left-image">
      <img class="item__image" src="img/item1.jpeg" alt="" />
      <div class="item__block">
        <div class="item__title">Поставка оборудования</div>
        <div class="item__desc">
          Подберем и оперативно поставим оборудование по вашему запросу
        </div>
      </div>
    </div>

    <div class="service__item item_right-image">
      <img class="item__image" src="img/item2.jpeg" alt="" />
      <div class="item__block">
        <div class="item__title">It аудит</div>
        <div class="item__desc">
          Оценим технологий (ИТ) в организации или компании. Цель IT-аудита -
          установить, насколько эффективно используются ИТ-ресурсы, а также
          выявить потенциальные риски и уязвимости в системе информационной
          безопасности
        </div>
      </div>
    </div>

    <div class="service__item item_left-image">
      <img class="item__image" src="img/item3.jpeg" alt="" />
      <div class="item__block">
        <div class="item__title">Настройка вашей it инфраструктуры</div>
        <div class="item__desc">
          Настроим и оптимизируем процессы систем и программного обеспечения в
          компьютерной сети для обеспечения эффективной и безопасной работы
          бизнеса.
        </div>
      </div>
    </div>

    <div class="service__item item_right-image">
      <img class="item__image" src="img/item4.jpeg" alt="" />
      <div class="item__block">
        <div class="item__title">решения под ключ</div>
        <div class="item__desc">
          Мы готовы взять на себя как весь проект «с нуля» и реализовать его
          «под ключ», так и включиться в работу на любом этапе проектного цикла
          для решения конкретных узкоспециализированных задач
        </div>
      </div>
    </div>
  </div>

  <div class="services__dots"></div>
</section>
