@import 'base/*.scss';
@import 'global/*.scss';
@import '**/_*.scss';
@import '../components/**/*.scss';

.navbar {
    height: 125px;
    background-color: #ffffff;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-item .nav-link {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    text-align: right;
    color: #4E4B66;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.btn {
    &.custom-btn {
        border: none;
        background: linear-gradient(89.41deg, #FAE0F6 6.46%, rgba(143, 73, 255, 0.7) 99.68%);
        border-radius: 40px;

        font-style: normal;
        font-weight: 600;
        font-size: 0.8em;
        // line-height: 17px;

        text-align: right;
        text-transform: uppercase;
        color: #4E4B66;

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 12px 16px;
        gap: 10px;
        white-space: nowrap;
    }

    &.custom-btn:hover {
        border-color: #0062cc;
    }

    &.custom-btn:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .5);
    }
}

.about__section {
    width: 100%;
    background-image: url('../img/qq.png');
    background-repeat: no-repeat;
    background-position-x: right;
}

.about__desc {
    margin-top: 14px;
    margin-bottom: 24px;
}

.section {
    padding-left: 20px !important;
    padding-right: 0 !important;
}

.about__section {
    padding-top: 8rem;
    padding-bottom: 4rem;
    position: relative;
}

.about__dots {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100px;
    background-image: url(../img/dots.svg);
    background-position: 0 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

.about__block {
    width: 50%;
}

.about__title {
    font-style: normal;
    font-weight: 500;
    font-size: 4.7em;
    line-height: 91px;
    text-transform: uppercase;
    color: #4E4B66;
}

.about__desc {
    font-style: normal;
    font-weight: 400;
    font-size: 1.333em;
    line-height: 1.333em;
    ;
    color: #4E4B66;
}

@media screen and (orientation: portrait) and (max-width: 1025px) {
    .dg-first-section__text--2 {
        font-size: 3.875em;
    }
}

@media screen and (orientation: portrait) and (max-width: 880px) {
    .about__section {
        padding-top: 60px;
    }

    .section {
        width: 100%;
        padding: 40px 20px !important;
    }

    .about__block {
        width: 100%;
    }

    .about__title {
        font-size: 2em;
        line-height: 1.3em;
    }

    .about__desc {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}



.btn.qq-button {
    font-family: 'Poppins', 'Montserrat' !important;
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 28px;
    letter-spacing: 0.75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px 32px;
    background: #1F52FF;
    border-radius: 40px;
    color: #F7F7FC;
    border: none;
    transition: all 0.3s ease;
}

.btn.qq-button:hover {
    color: #F7F7FC;
    background: linear-gradient(114.44deg, #7433FF 0%, #FFA3FD 100%);
}

.btn.qq-button:active {
    background: linear-gradient(114.44deg, #624AF2 0%, #50DDC3 100%);
    color: #F7F7FC !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.advantages__section {
    position: relative;
    overflow: hidden;
}

.advantages__title {
    width: 85%;
    margin-bottom: 30px;
}

.advantages__title_text {
    font-style: normal;
    font-weight: 500;
    font-size: 2em;
    line-height: 39px;
    text-transform: uppercase;
    color: #4E4B66;
}

.advantages__dots {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100px;
    background-image: url(../img/dots.svg);
    background-position: 0 20%;
    background-repeat: no-repeat;
    z-index: -1;
}

.advantages__circle {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../img/circle.png);
    background-position: 90% 86%;
    background-repeat: no-repeat;
    z-index: -1;
}

.advantages__plane {
    position: absolute;
    width: 1047px;
    height: 619px;
    left: 12%;
    top: 25%;
    z-index: -1;
    background: #F9F9F9;
    box-shadow: 8px 10px 50px rgba(227, 140, 254, 0.15);
    border-radius: 150px 0px 0px 0px;
}

.advantages__chooseus {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url(../img/advantages_piece.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 36%;
    left: 40px;
    padding-left: 100px;
    height: 180px;
    width: 35%;
    display: flex;
    align-items: center;

    .chooseus_text {
        font-style: normal;
        font-weight: 500;
        font-size: 2.5em;
        line-height: 2, 7em;
        text-transform: uppercase;
        color: #4E4B66;
    }
}

.advantages__blocks {
    display: flex;
    gap: 34px;
    justify-content: center;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.block1 {
    margin-top: 100px;
}

.block2 {
    margin-top: 50px;
}

.block .card {
    width: 308px;
    height: 379px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.33);
    border-radius: 40px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__title {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 29px;
    text-align: center;
    color: #000000;

    margin-top: 30px;
    margin-bottom: 40px;
}

.card__desc {
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 140%;
    text-align: center;
    color: #757575;
}

.card.fake {
    opacity: 0;
}

@media screen and (orientation: portrait) and (max-width: 880px) {
    .advantages__chooseus {
        display: none;
    }

    .advantages__blocks {
        display: flex;
        flex-direction: column;
    }

    .card.fake {
        display: none;
    }

    .block1,
    .block2 {
        margin-top: 0;
        // margin-bottom: 20px;
    }

    .advantages__title_text {
        font-size: 1.4em;
    }

    .block .card {
        width: 100%;
    }

    .advantages__plane {
        display: none;
    }
}

.services__title {
    display: flex;
    align-items: center;
    width: 58%;
    justify-content: space-between;
    font-style: normal;
    font-weight: 500;
    font-size: 2.5em;
    line-height: 2.5em;
    text-transform: uppercase;
    color: #4E4B66;

    margin-bottom: 30px;
}

.services__desc {
    font-style: normal;
    font-weight: 400;
    font-size: 1.125em;
    line-height: 1.5em;
    color: #000000;
    margin-bottom: 50px;
    width: 58%;

}

.services__dots {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../img/dots.svg);
    background-position: 100% 11%;
    background-repeat: no-repeat;
    z-index: -1;
}

.services__items {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.item__image {
    max-height: 560px;
}

.service__item {
    display: flex;
}

.item_right-image {
    flex-direction: row-reverse;

    .item__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 60px 20px 0;
    }
}

.item__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px 20px 80px;

}

.item__title {
    font-style: normal;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #000000;
    text-align: left;
}

.item__desc {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: left;
}

@media screen and (orientation: portrait) and (max-width: 880px) {
    .service__item {
        display: flex;
        flex-direction: column;
    }

    .services__title,
    .services__desc {
        width: 100%;
    }

    .item__block {
        padding: 20px 0;
        justify-content: center;
    }

    .item__title {
        font-size: 1.1em;
    }

    .item__desc {
        font-size: 1em;
    }
}


.partners__section,
.services__section,
.advantages__section {
    padding: 130px 0;
    position: relative;
}

.partners__title {
    font-style: normal;
    font-weight: 500;
    font-size: 2.5em;
    line-height: 2.7em;
    text-transform: uppercase;
    color: #4E4B66;
    margin-bottom: 30px;
    width: 58%;
}


.partners__desc {
    font-style: normal;
    font-weight: 400;
    font-size: 1.125em;
    line-height: 22px;
    color: #000000;
    width: 58%;
}

.partners__dots {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../img/dots.svg);
    background-position: 72% 94%;
    background-repeat: no-repeat;
    z-index: -1;
}

.partntes__list {
    padding: 140px 0;
    display: flex;
    justify-content: space-between;
}

.partners__button_block {
    display: flex;
    justify-content: center;
}

.partner__img {
    max-width: 170px;
}

@media screen and (orientation: portrait) and (max-width: 880px) {

    .partners__title,
    .partners__desc {
        width: 100%;
    }

    .partntes__list {
        padding: 60px 0;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-around;
    }
}


.footer {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 56px 32px;
    gap: 20px;
    width: 100%;
    min-height: 352px;
    background: #1D1D1D;
}

.copyright {
    font-family: 'Inter' !important;
    font-style: normal;
    font-weight: 300;
    font-size: 0.875em;
    line-height: 1.25em;
    color: #FFFFFF;
}

.footer__nav_block {
    display: flex;
    justify-content: center;
}

.footer_nav li {
    margin: 16px 0;
}

.footer_nav li:first-child {
    margin: 0;
}

.footer_nav a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #FFFFFF;
}

.address {
    font-style: normal;
    font-weight: 400;
    font-size: 0.875em;
    line-height: 20px;
    color: #FFFFFF;
}

.phone,
.email {
    margin: 20px 0;

    a {
        margin-left: 8px;
        font-style: normal;
        font-weight: 500;
        font-size: 1em;
        line-height: 32px;
        color: #FFFFFF;
    }
}

.back_call {
    margin: 10px 0;
}

a {
    text-decoration: none !important;
}

.btn.qqb-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 16px;
    gap: 10px;
    background: #0A41FF;
    border-radius: 40px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.btn.qqb-button:hover {
    background-color: #0062cc;
    color: #ffffff;
}

@media (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}


@media screen and (orientation: portrait) and (max-width: 880px) {
    .back_call {
        display: flex;
        // flex-direction: column;
        justify-content: end;
    }

    .footer__raw {
        display: flex;
        flex-direction: column-reverse !important;
    }

    .footer__nav_block {
        justify-content: start;
    }
}


@media (max-width: 1440px) {
    html {
        font-size: 14px !important;
    }
}

@media (max-width: 1240px) {
    html {
        font-size: 13px !important;
    }
}

@media (max-width: 1120px) {
    html {
        font-size: 12px !important;
    }
}